header {
 
    background-color: #84a9ff;
    text-align: center;
    padding: 30px 0;
}


/* W3Schools. (n.d.). CSS Font Size. W3Schools. https://www.w3schools.com/css/css_font_size.asp */
/* tuff. (2012, September 14). html - Align two headings closer to each other using CSS. Stack Overflow. https://stackoverflow.com/questions/12429677/align-two-headings-closer-to-each-other-using-css */
/* W3Schools. (n.d.) CSS Text Shadow. W3Schools. https://www.w3schools.com/css/css_text_shadow.asp */
.title h1{
    font-family: "Monaco", monospace;
    font-size: 4rem;
   color: white;
text-shadow: 2px 2px gray;
margin-top: 0;
margin-bottom: 5px;

}

.title h2{
    font-family: "Lucida Handwriting", cursive;
    font-size: 2rem;
    color: #280e31;
    text-shadow: 2px 2px white;
    margin-top: 0;
    margin-bottom: 0;
}

/* index.html */

/* TutorialPedia.org (2026, January 16). Adding Text Next to an Image with CSS. TutorialPedia.org. https://www.tutorialpedia.org/blog/add-text-next-to-image-css */
/* MDN contributors (2026, June 26). justify-content CSS property. Mozilla. https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/justify-content */
/* Flimm. (2019, September 21). CSS gap property. Stack Overflow. https://stackoverflow.com/questions/20626685/how-do-i-set-distance-between-flexbox-items */
.intro {
    display: flex;
    align-items: center;
    background-color: #f5f8ff; 
    justify-content: space-between;

}

/* MDN contributors. (2026, April 20). flex-direction CSS property. Mozilla. https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex-direction */
.introText{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap:50px 
}

.introText h2 {
font-family: "Monaco", monospace;
font-size: 4rem;
color: #84a9ff;
text-shadow: 2px 2px rgb(18, 48, 108);
text-align: center;
}

/* W3Schools. (n.d.). CSS Styling Buttons. W3Schools. https://www.w3schools.com/csS/css3_buttons.asp */
/* W3Schools. (n.d.). CSS cursor Property. W3Schools. https://www.w3schools.com/cssref/pr_class_cursor.php */

.intro button {
    width: 250px;
    height: 50px;
    font-family: "Monaco", monospace;
    font-size: 1.5rem;
    background-color:#84a9ff; 
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}


/* W3Schools. (n.d.). How TO - Responsive Images. W3Schools. https://www.w3schools.com/howto/howto_css_image_responsive.asp */
/* Michael, N. (2021, July 20). CSS Properties – Max-width, Min-width, Max-height, and Min-height Explained with Examples. freeCodeCamp. https://www.freecodecamp.org/news/css-properties-examples/ */

.intro img {
    width: 50%;
    max-width: 700px;
    height: auto;
}

main {
    background-color: #d3e0ff;
}

.features h2 {
    text-align: center;
        font-family: "Monaco", monospace;
        color: white;
        text-shadow: 2px 2px gray;
}

.features{
    padding: 70px 80px;
    background-color: #d3e0ff;

}

.features h2{
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.cards{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card{
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    min-height: 300px;
    padding: 30px;
    flex-direction: column;
}

.card img {

    width: 260px;
    height: 180px;
    margin-bottom: 20px;

}

.card h3{
    font-family: "Monaco",monospace;
    font-size: 1.5rem;
    color:#84a9ff;
    margin-bottom:15px;
}

.card p {
    font-size: 1rem;
}

.quote {
    width: 80%;
    margin: 0 auto;
    font-family: "Monaco", monospace;
    font-size:1.5rem;
    color: white;
    text-shadow: 2px 2px gray;
    text-align: center;
    padding: 80px;

}

/* W3Schools (n.d.). How TO - Rounded Images. W3Schools. https://www.w3schools.com/howto/howto_css_rounded_images.asp */
#logo{
    width: 400px;
    height: 400px;
    border-radius: 50%;


}

/* history.html */

.topButtons {
    display: flex;
    justify-content: space-between;
}

.topButtons button {
    background-color: #84a9ff;
    color: white;
    font-family: "Monaco", monospace;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.searchBar{
display: flex;
gap: 20px;
}

#searchWorkout {
    border: 2px solid #84a9ff;
font-size: 1rem;
    padding: 15px;
    border-radius: 10px;
    
}

.filterBy{
    padding: 15px;
    border-radius:10px;
}

.filterBy label {
    font-family: "Monaco", monospace;
    text-shadow: 2px 2px white;
    font-size:1rem;
}

.filterBy select{
       font-family: "Monaco", monospace;
        background-color: #84a9ff;
        color: white;
        border-color: #f5f8ff;
        font-size: 1rem;
}

.workoutHeader{
display: flex;
justify-content: space-between;
align-items: center;
margin: 20px 200px 0 200px;
padding: 0 35px;
font-family: "Monaco", monospace;
color: #84a9ff;
}




#workoutList{
    margin: 0px 200px 20px 200px;
}

.workoutCard{
      display: flex;
      justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.workoutInfo{
display: flex;
font-family: "Monaco", monospace;
color: #84a9ff;
gap: 60px;
}

.workoutInfoTitles{
display: flex;
font-family: "Monaco", monospace;
color: #84a9ff;
width: 70%;
gap: 190px;
}

.displayDate{
    width: 180px;
}
.displayName{
    width: 250px;
    margin-right: 0;
}

.workoutButtons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}
 

.workoutButtons button{
        background-color: #84a9ff;
    color: white;
    font-family: "Monaco", monospace;
    border: none;
        border-radius: 10px;
        font-size: 1rem;
        cursor: pointer;
}

#workoutHistory {
    text-align:center;
    font-family: "Monaco", monospace;
    color: white;
    text-shadow: 2px 2px gray;
}

/* create.html */

#pageTitle{
    text-align: center;
    font-family: "Monaco", monospace;
    color: white;
    text-shadow: 2px 2px gray;
    font-size: 2rem;
}

.pageLayout{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 30px;
}

form{
    background-color: white;
    width: 500px;
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
}

.formDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label{
 font-family: "Monaco", monospace;
 color:#84a9ff;
 margin-bottom: 10px;
}

input{
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
}

form button {
    background-color: #84a9ff;
    color: white;
    border-radius: 10px;
    font-family: "Monaco", monospace;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}
form, #previousEntry{
    width: 600px;
    min-height: 500px;
}



#previousEntry{
    background-color: white;
    border-radius:20px;
    margin: 30px;
    padding: 20px;
}

#previousEntry h3{
    font-family: "Monaco", monospace;
    color:#84a9ff;
}


footer{
    background-color:#d3e0ff;
    text-align: center;
    padding: 20px;
}

