header {
 
    background-color: #84a9ff;
    text-align: center;
    padding: 30px 0;
}

.title h1{
    font-family: "Monaco", monospace;
    font-size: 4rem;
   color: white;
text-shadow: 2px 2px gray;
margin-top: 0;
margin-bottom: 5px;

}

.title h2{
    font-family: "Lucida Handwriting", cursive;
    font-size: 2rem;
    color: #f3d3fe;
    text-shadow: 2px 2px white;
    margin-top: 0;
    margin-bottom: 0;
}

.intro {
    display: flex;
    align-items: center;
    background-color: #f5f8ff; 
    justify-content: space-between;

}

.intro-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap:50px 
}

.intro-text h2 {
font-family: "Monaco", monospace;
font-size: 4rem;
color: #84a9ff;
text-shadow: 2px 2px rgb(18, 48, 108);
text-align: center;
}

.intro button {
    width: 250px;
    height: 50px;
    font-family: "Monaco", monospace;
    font-size: 1.5rem;
    background-color:#84a9ff; 
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}



.intro img {
    width: 50%;
    max-width: 700px;
    height: auto;
}

main {
    margin-top: 0px;
    padding: 0px;
    background-color: #d3e0ff;
}

.features h2,  .quote {
    text-align: center;
        font-family: "Monaco", monospace;
        color: white;
        text-shadow: 2px 2px gray;
}

.card{
    display: flex;
    align-items: center;
}
/* References */
/* https://www.tutorialpedia.org/blog/add-text-next-to-image-css/q */
/* https://www.w3schools.com/css/css_font_size.asp */
/* https://www.geeksforgeeks.org/css/how-to-change-line-spacing-in-css/ */
/* https://stackoverflow.com/questions/12429677/align-two-headings-closer-to-each-other-using-css */
/* https://www.w3schools.com/css/css_text_shadow.asp */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/justify-content */
/* https://stackoverflow.com/questions/20626685/how-do-i-set-distance-between-flexbox-items */
/* https://www.w3schools.com/csS/css3_buttons.asp */
/* https://www.w3schools.com/cssref/pr_class_cursor.php */
/* https://www.w3schools.com/howto/howto_css_image_responsive.asp */
/* https://www.freecodecamp.org/news/css-properties-examples/ */
/* https://stackoverflow.com/questions/12429677/align-two-headings-closer-to-each-other-using-css */